/*************** <Review /> stylings ***************/

.review-container {
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    margin: 10px 0;
    padding: 10px;

}

.review-content {
    font-size: 20px;
    margin-left: 20px;
}

